<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
	integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/base.css}" />

<title>Smart Contact Manager</title>
</head>
<body>


	<nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-primary">
		<i onclick="togglesidebar()" class="fas fa-bars m-3"></i> <a
			class="navbar-brand" href="#">Smart contact manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>s
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}"
					href="#">Home <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"><span
						th:text="${user.name}"></span></a></li>

				<li class="nav-item"><a class="nav-link " th:href="@{/logout}"
					href="#">Logout</a></li>

			</ul>

		</div>
	</nav>


	<div class="sidebar mt-2">

		<a id="home-link" href="#" th:href="@{/user/index}" class="items">
			<i class="fas fa-home"></i> Home
		</a> <a id="contact-link" href="#" th:href="@{/user/Add_contact}"
			class="items"> <i class="fas fa-pencil-alt"></i> Add contact
		</a> <a id="show-contact-link" th:href="@{/user/show_contact/0}" href="#"
			class="items"> <i class="fas fa-id-card-alt"></i> show contact
		</a> <a id="profile-link" href="#" class="items"><i
			class="fas fa-user-circle"></i> your profile</a> <a href="#"
			th:href="@{/user/change-password-form}" class="items"> <i
			class="fas fa-cogs"></i> setting
		</a> <a id="logout-link" href="#" th:href="@{/logout}" class="items"><i
			class="fas fa-sign-out-alt"></i> logout</a>
		<div class="divider"></div>

	</div>
	<div class="content mt-5">



		<div th:if="${session.message}"
			th:classappend="${session.message.type}" class="alert" role="alert">
			<p   class="text-center mt-3" th:text="${session.message.content}"></p>
			<th:block th:text="${#session.removeAttribute('message')}">
			</th:block>
		</div>
		<div th:replace="${content}"></div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="" th:src="@{/js/script.js}"></script>
	<script>
	
	function deletecontact(cid) {

	swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this contact!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    window.location="/user/deletecontact/"+cid;
    
  } else {
    swal("Your contact file is safe!");
  }
});
}
	
	
	</script>
</body>
</html>