<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
		<div class="card mr-1">
			<div class="card-body">
				<div class="container fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<h1 class="text-center">Update Your contact</h1>
							<form action="#" th:action="@{/user/contact_update}"
								method="post" enctype="multipart/form-data"
								th:object="${contacts}">
								<div class="input-group">
									
									<input  type="hidden" class="form-control" name="cId"
										th:value="${contacts.cId}" id="inlineFormInputGroup"
										placeholder="cId">
								</div>

								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-plus"></i>
										</div>
									</div>
									<input  type="text" class="form-control" name="name"
										th:value="${contacts.name}" id="inlineFormInputGroup"
										placeholder="Name">
								</div>
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input  type="text" class="form-control"
										th:value="${contacts.nickname}" name="nickname"
										id="inlineFormInputGroup" placeholder="SecondName">
								</div>
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-phone"></i>
										</div>
									</div>
									<input  type="number" class="form-control"
										name="phonenumber" th:value="${contacts.phonenumber}"
										id="inlineFormInputGroup" placeholder="phone number">
								</div>
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input type="email" class="form-control"
										th:value="${contacts.email}" name="email"
										id="inlineFormInputGroup" placeholder="email here">
								</div>
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" class="form-control"
										th:value="${contacts.work}" name="work"
										id="inlineFormInputGroup" placeholder="desiganation">
								</div>
								<div class="form-group mt-3">


									<textarea  class="form-control" name="description"
										th:text="${contacts.description}" id="mytextarea"
										placeholder="description" rows="10"></textarea>
								</div>
								<div class="container text-center">
									<img style="width: 200px; height: 200px;"
										class="my_image_details" src=""
										th:src="@{'/image/'+${contacts.image}}" alt="profile" />

								</div>
								<h3>upload your new profile</h3>
								<div class="custom-file">
									<input  type="file" class="form-control-file"
										id="exampleFormControlFile1" name="imagefile">

								</div>
								<div class="container text-center">
									<button type="submit" class="btn btn-success">Save Contact</button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>





	</section>
</body>
</html>